* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --color1: #000;
  --color2: #aca9a9;
  --color3: #fff;
  --color4: #797575;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* estilização do header */
header {
  background-color: var(--color1);
  color: var(--color3);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2 {
  font-size: 1em;
  & i {
    margin-right: 10px;
  }
}
#titulo {
  margin-left: 10px;
  flex: 1;
}

#titulo,
#boxInputs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  padding: 10px;
  flex: 1;
}

#boxInputs {
  flex-wrap: wrap;
  flex-direction: row;
}

#box1,
#box2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

#box1 {
  flex: 2;
}
#box2 {
  flex: 1;
}
#box1 input,
#box2 input {
  width: 100%;
  padding: 3px;
  font-weight: bold;
}

label {
  font-size: 0.8em;
}
input {
  border-radius: 5px;
}

/* removendo setas do input number */
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#iprocurar {
  all: unset;
  background-color: var(--color1);
  border: 1px solid var(--color3);
  border-radius: 5px;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  width: 23px;
  height: 23px;
  & i {
    padding: 5px;
    font-size: 10px;
    color: var(--color3);
  }
}

#iprocurar:hover,
#iprocurar:focus {
  background-color: var(--color2);
  border: 1px solid var(--color3);
  & i {
    color: var(--color1);
  }
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  #titulo,
  #boxInputs {
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
  }
  #boxInputs {
    width: 100%;
    flex-direction: column;
  }
  #box1 {
    width: 100%;
  }
  #box2 {
    width: 100%;
    & input {
      width: 30%;
    }
  }
}

main {
  background-color: var(--color2);
  text-align: center;
  flex-grow: 1;
}

h3 {
  margin: 20px auto 10px;
  font-weight: bold;
}

#movieList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.containerMovie {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  & img {
    border-radius: 10px;
    margin-bottom: 10px;
  }

  & button {
    all: unset;
    width: 280px;
    margin: auto;
    background-color: var(--color1);
    border: 1px solid var(--color1);
    box-shadow: 1px 1px 10px black;
    color: var(--color3);
    font-weight: bold;
    padding: 3px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 5px;
  }

  & button:hover,
  button:focus {
    background-color: var(--color4);
    cursor: pointer;
    border: 1px solid var(--color1);
    border-radius: 10px;
    font-weight: bold;
  }
}
